#root {
  max-width: 1280px;
}

.app-container {
  display: flex;
  height: 100vh;
  background-color: #f8f9fc;
  font-family: Arial, sans-serif;
}

.sidebar-toggle {
  display: none;
}

@media (max-width: 500px) {
  .sidebar-toggle {
    display: block;
    z-index: 100;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 100%;
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    z-index: 90;
    transition: left 0.3s ease-in-out;
  }

  .app-container {
    padding-top: 60px; /* Adjust padding to accommodate the sidebar toggle button */
  }
}
